@import "variables";

.containerBranding{
    width: 90%;
    height: 300px;
    margin: auto;
    padding: 40px;
    background-color:$color_negro;
    .containerBranding_baseIcon{
       width: 40px;
       height: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
        .iconBranding{
            font-size: 30px;
            color: $color_rojo;
        }
    }
    .containerBranding_text{
        margin-top: 10px;
        font-weight: 300;
        color: $color_grey;
    }

    .containerBranding_vinculo{
        margin-top: 10px;
        color:$color_rojo;
        .iconVinculo{  
            color:$color_rojo;

        }
    }
}