@import "variables";

.containerBase{
    width: 100%;
    max-width: 1440px;
    padding: 10px 0px;
    margin: auto;
    overflow: hidden;
    background:$color_negro_fuerte;
    display: grid;
    grid-gap: 1em;
    position: relative;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: auto;
    grid-template-areas: "grid_navbar           grid_navbar           grid_navbar          grid_navbar          grid_navbar          grid_navbar"
                         "grid_Header           grid_Header           grid_Header          grid_Header          grid_Header          grid_Header" 
                         "grid_UIDesing         grid_UIDesing         grid_productDesing   grid_productDesing   grid_branding        grid_branding"
                         "gridYears             gridYears             grid_BlockCounters   grid_BlockCounters   grid_BlockCounters   grid_BlockCounters"
                         "grid_feafureProyects  grid_feafureProyects  grid_feafureProyects grid_feafureProyects grid_feafureProyects grid_feafureProyects" 
                         "grid_vintage          grid_vintage          grid_vintage         grid_foodasa         grid_foodasa         grid_foodasa"
                         "grid_accent           grid_accent           grid_accent          grid_mozalk          grid_mozalk          grid_mozalk"
                         "grid_contact          grid_contact          grid_contact         grid_contact         grid_contact         grid_contact"
                         "grid_pagination       grid_pagination       grid_pagination      grid_pagination      grid_pagination      grid_pagination" 
                         "grid_footer           grid_footer           grid_footer          grid_footer          grid_footer          grid_footer"
                         ;

                         
    
                         
    .grid_navbar{
        //padding:  20px 0px;
        //background: brown;
        grid-area: grid_navbar;
    }    

    .grid_Header{
        padding: 20px 0px;
        grid-area: grid_Header;

    }

    /// CONFORMAN EL SEGUNDO BLOQUE DE LA GRID////
    .grid_UIDesing{
        //padding: 10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_UIDesing;
    }
    .grid_productDesing{
        margin-top: 10px;
        //padding: 10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_productDesing;
    }
    .grid_branding{
        margin-top: 20px;
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_branding;
    }
    /// /////////////////////////////




     /// CONFORMAN EL TERCER BLOQUE DE LA GRID////
    .gridYears{
    
        //padding:10px 0px;
        //background: rgb(203, 24, 24);
        grid-area: gridYears;
    }
    .grid_BlockCounters{
    
        padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_BlockCounters;
    }
    /// /////////////////////////////


    /// CONFORMAN EL CUARTO BLOQUE DE LA GRID////
    .grid_feafureProyects{
        //padding: 10px 0px;
        //background: rgb(214, 97, 97);
        grid-area:grid_feafureProyects;
    }
    ///////////////////////////////////////


    
    .grid_vintage{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_vintage;
    }
    .grid_foodasa{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_foodasa
    }
    .grid_accent{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
       
        grid-area: grid_accent;
    }

    .grid_mozalk{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_mozalk;
    }
    .grid_contact{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_contact;
    }

    .grid_pagination{
        //padding:10px 0px;
        //background: rgb(214, 97, 97)//;
        grid-area: grid_pagination;
    }

    .grid_footer{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_footer;
    }
    
    
}




//VERDE LIMON
@media (min-width:900px) and (max-width:1200px){
    .containerBase{ 
        width: 100%;
        max-width: initial;
        padding: 10px 0px;
        margin: auto;
        overflow: hidden;
        background:$color_negro_fuerte;
        background: greenyellow;
        display: grid;
        grid-gap: 1em;
        position: relative;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows: auto;
        grid-template-areas: "grid_navbar           grid_navbar           grid_navbar          grid_navbar          grid_navbar          grid_navbar"
                             "grid_Header           grid_Header           grid_Header          grid_Header          grid_Header          grid_Header" 
                             "grid_UIDesing         grid_UIDesing         grid_productDesing   grid_productDesing   grid_branding        grid_branding"
                             "gridYears             gridYears             grid_BlockCounters   grid_BlockCounters   grid_BlockCounters   grid_BlockCounters"
                             "grid_feafureProyects  grid_feafureProyects  grid_feafureProyects grid_feafureProyects grid_feafureProyects grid_feafureProyects" 
                             "grid_vintage          grid_vintage          grid_vintage         grid_foodasa         grid_foodasa         grid_foodasa"
                             "grid_accent           grid_accent           grid_accent          grid_mozalk          grid_mozalk          grid_mozalk"
                             "grid_contact          grid_contact          grid_contact         grid_contact         grid_contact         grid_contact"
                             "grid_pagination       grid_pagination       grid_pagination      grid_pagination      grid_pagination      grid_pagination" 
                             "grid_footer           grid_footer           grid_footer          grid_footer          grid_footer          grid_footer"
                             ;
        
    }
}




//NARANJA
@media (min-width:770px)  and (max-width:899px){
    .containerBase{ 
        width: 100%;
        max-width: initial;
        padding: 10px 0px;
        margin: auto;
        overflow: hidden;
        background:$color_negro_fuerte;
        background: rgb(245, 194, 11);
        display: grid;
        grid-gap: 1em;
        position: relative;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows: auto;
        grid-template-areas: "grid_navbar           grid_navbar           grid_navbar          grid_navbar          grid_navbar          grid_navbar"
                             "grid_Header           grid_Header           grid_Header          grid_Header          grid_Header          grid_Header" 
                             "grid_UIDesing         grid_UIDesing         grid_productDesing   grid_productDesing   grid_branding        grid_branding"
                             "gridYears             gridYears             grid_BlockCounters   grid_BlockCounters   grid_BlockCounters   grid_BlockCounters"
                             "grid_feafureProyects  grid_feafureProyects  grid_feafureProyects grid_feafureProyects grid_feafureProyects grid_feafureProyects" 
                             "grid_vintage          grid_vintage          grid_vintage         grid_foodasa         grid_foodasa         grid_foodasa"
                             "grid_accent           grid_accent           grid_accent          grid_mozalk          grid_mozalk          grid_mozalk"
                             "grid_contact          grid_contact          grid_contact         grid_contact         grid_contact         grid_contact"
                             "grid_pagination       grid_pagination       grid_pagination      grid_pagination      grid_pagination      grid_pagination" 
                             "grid_footer           grid_footer           grid_footer          grid_footer          grid_footer          grid_footer"
                             ;
        
    }
}



//VERDE
@media (min-width:641px)  and (max-width:769px){
    .containerBase{ 
        width: 100%;
        max-width: initial;
        padding: 10px 0px;
        margin: auto;
        overflow: hidden;
        background:$color_negro_fuerte;
        background: rgb(2, 128, 32);
        display: grid;
        grid-gap: 1em;
        position: relative;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows: auto;
        grid-template-areas: "grid_navbar           grid_navbar           grid_navbar          grid_navbar          grid_navbar          grid_navbar"
                             "grid_Header           grid_Header           grid_Header          grid_Header          grid_Header          grid_Header" 
                             "grid_UIDesing         grid_UIDesing         grid_productDesing   grid_productDesing   grid_branding        grid_branding"
                             "gridYears             gridYears             grid_BlockCounters   grid_BlockCounters   grid_BlockCounters   grid_BlockCounters"
                             "grid_feafureProyects  grid_feafureProyects  grid_feafureProyects grid_feafureProyects grid_feafureProyects grid_feafureProyects" 
                             "grid_vintage          grid_vintage          grid_vintage         grid_foodasa         grid_foodasa         grid_foodasa"
                             "grid_accent           grid_accent           grid_accent          grid_mozalk          grid_mozalk          grid_mozalk"
                             "grid_contact          grid_contact          grid_contact         grid_contact         grid_contact         grid_contact"
                             "grid_pagination       grid_pagination       grid_pagination      grid_pagination      grid_pagination      grid_pagination" 
                             "grid_footer           grid_footer           grid_footer          grid_footer          grid_footer          grid_footer"
                             ;
        
    }
}




//AZUL
@media (min-width:481px)  and (max-width:640px){
    .containerBase{ 
        width: 100%;
        max-width: initial;
        padding: 10px 0px;
        margin: auto;
        overflow: hidden;
        background:$color_negro_fuerte;
        background: rgb(14, 16, 140);
        display: grid;
        grid-gap:0.1em;
        position: relative;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "grid_navbar          grid_navbar"
            "grid_Header          grid_Header"
            "grid_UIDesing        grid_UIDesing"
            "grid_productDesing   grid_productDesing"
            "grid_branding        grid_branding"
            "gridYears            grid_BlockCounters"
            "grid_feafureProyects grid_feafureProyects"
            "grid_vintage         grid_foodasa"
            "grid_accent          grid_mozalk"
            "grid_contact         grid_contact"
            "grid_pagination      grid_pagination"
            "grid_footer          grid_footer" ;

        /// CONFORMAN EL SEGUNDO BLOQUE DE LA GRID////
        .grid_UIDesing{
            padding: 10px 0px;
            //background: rgb(214, 97, 97);
            grid-area: grid_UIDesing;
        }
        .grid_branding{
            margin-top: initial;
            padding:10px 0px;
            //background: rgb(214, 97, 97);
            grid-area: grid_branding;
        }
        .grid_productDesing{
            margin-top: initial;
            padding: 10px 0px;
            //background: rgb(214, 97, 97);
            grid-area: grid_productDesing;
        }


         /// CONFORMAN EL TERCER BLOQUE DE LA GRID////
        .gridYears{
            margin-top: 30px;
            //padding:10px 0px;
            grid-area: gridYears;
        }
        
    }
}



//GUINDO
@media (min-width:320px)  and (max-width:480px){
    .containerBase{ 
        width: 100%;
        max-width: initial;
        padding: 10px 0px;
        margin: auto;
        overflow: hidden;
        background:$color_negro_fuerte;
        background: rgb(139, 6, 110);
        display: grid;
        grid-gap:0.1em;
        position: relative;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "grid_navbar          grid_navbar"
            "grid_Header          grid_Header"
            "grid_UIDesing        grid_UIDesing"
            "grid_productDesing   grid_productDesing"
            "grid_branding        grid_branding"
            "gridYears            gridYears"
            "grid_BlockCounters   grid_BlockCounters"
            "grid_feafureProyects grid_feafureProyects"
            "grid_vintage         grid_foodasa"
            "grid_accent          grid_mozalk"
            "grid_contact         grid_contact"
            "grid_pagination      grid_pagination"
            "grid_footer          grid_footer" ;


        /// CONFORMAN EL SEGUNDO BLOQUE DE LA GRID////
        .grid_UIDesing{
            padding: 10px 0px;
            //background: rgb(214, 97, 97);
            grid-area: grid_UIDesing;
        }
        .grid_branding{
            margin-top: initial;
            padding:10px 0px;
            //background: rgb(214, 97, 97);
            grid-area: grid_branding;
        }
        .grid_productDesing{
            margin-top: initial;
            padding: 10px 0px;
            //background: rgb(214, 97, 97);
            grid-area: grid_productDesing;
        }

    }
}