@import "variables";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;    //300   700
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: $color_negro_fuerte;
}

.containerBase{
    width: 100%;
    max-width: 1440px;
    padding: 10px 0px;
    margin: auto;
    background:$color_negro_fuerte;
    background: rgb(57, 57, 57);
    display: grid;
    grid-gap: 1em;
    position: relative;
    grid-template-columns:repeat(6,1fr);
    grid-template-rows: auto;
    grid-template-areas: "grid_navbar           grid_navbar           grid_navbar          grid_navbar          grid_navbar          grid_navbar"
                         "grid_Header           grid_Header           grid_Header          grid_Header          grid_Header          grid_Header" 
                         "grid_UIDesing         grid_UIDesing         grid_productDesing   grid_productDesing   grid_branding        grid_branding"
                         "gridYears             gridYears             grid_BlockCounters   grid_BlockCounters   grid_BlockCounters   grid_BlockCounters"
                         "grid_feafureProyects  grid_feafureProyects  grid_feafureProyects grid_feafureProyects grid_feafureProyects grid_feafureProyects" 
                         "grid_vintage          grid_vintage          grid_vintage         grid_foodasa         grid_foodasa         grid_foodasa"
                         "grid_accent           grid_accent           grid_accent          grid_mozalk          grid_mozalk          grid_mozalk"
                         "grid_contact          grid_contact          grid_contact         grid_contact         grid_contact         grid_contact"
                         "grid_pagination       grid_pagination       grid_pagination      grid_pagination      grid_pagination      grid_pagination" 
                         "grid_footer           grid_footer           grid_footer          grid_footer          grid_footer          grid_footer"
                         ;

                         
    
                         
    .grid_navbar{
        //padding:  20px 0px;
        //background: brown;
        grid-area: grid_navbar;
    }    

    .grid_Header{
        padding: 20px 0px;
        grid-area: grid_Header;

    }

    /// CONFORMAN EL SEGUNDO BLOQUE DE LA GRID////
    .grid_UIDesing{
        //padding: 10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_UIDesing;
    }
    .grid_productDesing{
        margin-top: 10px;
        //padding: 10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_productDesing;
    }
    .grid_branding{
        margin-top: 20px;
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_branding;
    }
    /// /////////////////////////////




     /// CONFORMAN EL TERCER BLOQUE DE LA GRID////
    .gridYears{
    
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: gridYears;
    }
    .grid_BlockCounters{
    
        padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_BlockCounters;
    }
    /// /////////////////////////////


    /// CONFORMAN EL CUARTO BLOQUE DE LA GRID////
    .grid_feafureProyects{
        //padding: 10px 0px;
        //background: rgb(214, 97, 97);
        grid-area:grid_feafureProyects;
    }
    ///////////////////////////////////////


    
    .grid_vintage{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_vintage;
    }
    .grid_foodasa{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_foodasa
    }
    .grid_accent{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
       
        grid-area: grid_accent;
    }

    .grid_mozalk{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_mozalk;
    }
    .grid_contact{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_contact;
    }

    .grid_pagination{
        //padding:10px 0px;
        //background: rgb(214, 97, 97)//;
        grid-area: grid_pagination;
    }

    .grid_footer{
        //padding:10px 0px;
        //background: rgb(214, 97, 97);
        grid-area: grid_footer;
    }
    
    .blockA{
        width: 600px;
        height: 1000px;
        background: $color_grey_claro;
        z-index: -1;
        position: absolute;
        top:550px;
        left: 0;
    }
}






@media (min-width:481px) and (max-width:769px){
    .containerBase{
        width: 100%;
        max-width: 1440px;
        //padding: 10px 0px;
        margin: auto;
        display: grid;
        //background: brown;
        //grid-gap: 1em;
        position: relative;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows: auto;
        grid-template-areas: "grid_headerMovil      grid_headerMovil      grid_headerMovil     grid_headerMovil     grid_headerMovil     grid_headerMovil"
                             "grid_Header           grid_Header           grid_Header          grid_Header          grid_Header          grid_Header" 
                             "grid_UIDesing         grid_UIDesing         grid_UIDesing        grid_productDesing   grid_productDesing   grid_productDesing"
                             "grid_branding         grid_branding         grid_branding        grid_branding        grid_branding        grid_branding"
                             "grid_BlockCounters    grid_BlockCounters    grid_BlockCounters   grid_BlockCounters   grid_BlockCounters   grid_BlockCounters"
                             "gridYears             gridYears             gridYears            gridYears            gridYears            gridYears"
                             "grid_feafureProyects  grid_feafureProyects  grid_feafureProyects grid_feafureProyects grid_feafureProyects grid_feafureProyects" 
                             "grid_vintage          grid_vintage          grid_vintage         grid_foodasa         grid_foodasa         grid_foodasa"
                             "grid_accent           grid_accent           grid_accent          grid_mozalk          grid_mozalk          grid_mozalk"
                             "grid_contact          grid_contact          grid_contact         grid_contact         grid_contact         grid_contact"
                             "grid_pagination       grid_pagination       grid_pagination      grid_pagination      grid_pagination      grid_pagination" 
                             "grid_footer           grid_footer           grid_footer          grid_footer          grid_footer          grid_footer"
                             ;
                             .grid_headerMovil{
                                //padding: 10px 0px;
                                //background: rgb(214, 97, 97);
                                grid-area: grid_headerMovil;
                                display: block;
                            }    
                        
                            .grid_Header{
                                //padding: 10px 0px;
                                //background: rgb(214, 97, 97);
                                grid-area: grid_Header;
                        
                            }
}
}









@media (min-width:320px) and (max-width:480px){
    .containerBase{
        width: 100%;
        max-width: 1440px;
        //padding: 10px 0px;
        margin: auto;
        display: grid;
        //background: rgb(4, 63, 73);
        //grid-gap: 1em;
        position: relative;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: auto;
        grid-template-areas: "grid_headerMovil      grid_headerMovil"
                             "grid_Header           grid_Header"
                             "grid_UIDesing         grid_UIDesing"
                             "grid_productDesing    grid_productDesing"
                             "grid_branding         grid_branding"
                             "grid_BlockCounters    grid_BlockCounters"
                             "gridYears             gridYears"
                             "grid_feafureProyects  grid_feafureProyects"
                             "grid_vintage          grid_vintage"
                             "grid_foodasa          grid_foodasa"
                             "grid_accent           grid_accent"
                             "grid_mozalk           grid_mozalk"
                             "grid_contact          grid_contact"
                             "grid_pagination       grid_pagination"
                             "grid_footer           grid_footer"
                             ;
                             .grid_headerMovil{
                                //padding: 10px 0px;
                                //background: rgb(214, 97, 97);
                                grid-area: grid_headerMovil;
                                display: block;
                            }    
                        
                            .grid_Header{
                                //padding: 10px 0px;
                                //background: rgb(214, 97, 97);
                                grid-area: grid_Header;
                        
                            }
}
}
