@import "variables";


.containerProductDesing{
    width: 95%;
    height: 300px;
    margin: auto;
    padding: 40px;
    background-color:$color_rojo;
    .containerProductDesing_baseIcon{
       width: 60px;
       height: 60px;
       display: flex;
       justify-content: center;
       align-items: center;
        .iconProductDesing{
            font-size: 40px;
            color: $color_enlaces;
        }
    }
    .containerProductDesing_text{
        margin-top: 10px;
        color:$color_enlaces;
        font-weight: 300;
        color: white;
    }

    .containerProductDesing_vinculo{
        margin-top: 10px;
        color:$color_enlaces;
        transition: 0.2s ease-in;
        .iconVinculo{
            margin-left: 5px;  
            color:$color_enlaces;
            transition: 0.2s ease-in;

        }
    }

    &:hover{
        .containerProductDesing_vinculo{
            color:$color_negro;
            cursor: pointer;
            .iconVinculo{
                transform: translateX(10px);
                color: white;
            }
        }
    }
    
}





