@import "variables";

.containerUIDesing{
    width: 95%;
    height: 300px;
    margin: auto;
    padding: 40px;
    background-color:$color_negro;
    transition: 0.5s all;
    .containerUIDesing_baseIcon{
       width: 60px;
       height: 60px;
       display: flex;
       justify-content: center;
       align-items: center;
        .iconUIDesing{
            font-size: 40px;
            color: $color_rojo;
        }
    }
    .containerUIDesing_text{
        margin-top: 10px;
        color:$color_enlaces;
        font-weight: 300;
        color: $color_grey;
    }

    .containerUIDesing_vinculo{
        margin-top: 10px;
        color:white;
        font-size: 18px;
        transition: 0.2s all ease-in;
        .iconVinculo{  
            color:$color_rojo;
            margin-left: 5px;
            transition: 0.2s all ease-in;

        }
    }
    

    &:hover{
        .containerUIDesing_vinculo{
            color:$color_rojo;
            cursor: pointer;
            .iconVinculo{
                transform: translateX(10px);
                color: white;
            }
        }
    }
}


