@import "variables";

.containerUIDesing{
    width: 90%;
    height: 300px;
    margin: auto;
    padding: 40px;
    background-color:$color_negro;
    .containerUIDesing_baseIcon{
       width: 40px;
       height: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
        .iconUIDesing{
            font-size: 30px;
            color: $color_rojo;
        }
    }
    .containerUIDesing_text{
        margin-top: 10px;
        color:$color_enlaces;
        font-weight: 300;
        color: $color_grey;
    }

    .containerUIDesing_vinculo{
        margin-top: 10px;
        color:$color_rojo;
        .iconVinculo{  
            color:$color_rojo;

        }
    }
}