///////COLORS
$color_enlaces:white;
$color_negro:rgb(28, 28, 28);
$color_negro_fuerte:rgb(15, 15, 15);
$color_rojo:rgb(243, 32, 32);
$color_grey:rgb(185, 185, 185);
$color_grey_claro:rgb(46, 46, 46);




////////FONTS
$font_delgada:300;
$font_gruesa:700;