@import "variables";


.containerYears{
    width: 90%;
    margin: auto;
    height: 320px;
    padding: 10px 0px;
    background:$color_negro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    .containerYears_number{
        width: 80px;
        height: 80px;
        color: $color_rojo;
        font-size: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        letter-spacing: -3px;
    }
    .containerYears_texto{
        color: $color_enlaces;
        font-size: 25px;
        font-weight: 700;
    }
}


