@import "variables";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;    //300   700
}

html{
    scroll-behavior: smooth;
}


body{
    scroll-behavior:unset;
    background-color: $color_negro_fuerte;

}

body::-webkit-scrollbar{
    width: 15px;
    
}
body::-webkit-scrollbar-thumb{
    background: rgb(212, 40, 40);
    height: 100px;
    height: 130px;

}
body::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 70, 70);
    height: 150px;
    
}






@import "gridGeneral";
@import "navbar";
@import "header";
@import "UIDesing";
@import "productDesing";
@import "branding";
@import "year";
@import "blockCounters";
@import "feafureProyects";
@import "_reautilizableCuadroBig";
@import "contact";
@import "pagination";
@import "footer";
@import "botonSubir";